<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.study.kotlin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".session6.SampleOperatorActivity"></activity>
        <activity android:name=".session6.SampleBreakActivity" />
        <activity android:name=".session6.SampleWhileActivity" />
        <activity android:name=".session6.SampleForActivity" />
        <activity android:name=".session6.SampleWhenActivity" />
        <activity android:name=".session6.SampleIfActivity" />
        <activity android:name=".session5.SampleIteratorActivity" />
        <activity android:name=".session5.SampleListSetMapActivity" />
        <activity android:name=".session5.SampleArrayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".session5.SampleIsActivity" />
        <activity android:name=".session5.SampleUnitNothingActivity" />
        <activity android:name=".session5.SampleAny2Activity" />
        <activity android:name=".session5.SampleNull2Activity" />
        <activity android:name=".session5.SampleAnyActivity" />
        <activity android:name=".session5.SampleCharActivity" />
        <activity android:name=".session5.SampleNumberActivity" />
        <activity android:name=".session4.SampleTailrecActivity" />
        <activity android:name=".session4.SampleVarargActivity" />
        <activity android:name=".session4.SampleInfixActivity" />
        <activity android:name=".session4.SampleArgumentActivity" />
        <activity android:name=".session4.SampleOverloadingActivity" />
        <activity android:name=".session4.SampleFuncActivity" />
        <activity android:name=".session4.SampleConstActivity" />
        <activity android:name=".session4.SampleNullActivity" />
        <activity android:name=".session4.SampleVar2Activity" />
        <activity android:name=".session4.SampleValActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>